<?xml version="1.0" encoding="utf-8"?>
<!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".ScoutifyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_launcherl"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_launcherl"
        android:supportsRtl="true"
        android:theme="@style/Theme.Scoutify"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDCSVHam6OVR4s0LpDRltkKApH04Ly5FnI" />

        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.Scoutify" />

        <activity android:name=".ui.auth.RegisterActivity" android:exported="false" />
        <activity android:name=".ui.dashboard.MapPickerActivity" android:exported="false" />
        <activity android:name=".ui.dashboard.SettingsActivity" android:exported="false" />
        
        <activity 
            android:name=".MainActivity" 
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- FileProvider untuk fitur Kamera/Selfie -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
